/* Setting fade transition and default settings */

body {
  color: greenyellow;
  background-color: #f4f4f4;
  transition: background-color 2s ease;
  width:400vw;
  height:400vh;
  background: radial-gradient(center, ellipse cover, #b29f93 0%,#705f54 100%);
 z-index: -10;
}

/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 400vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  /* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
  z-index: -10;
}

.lily1 {
  position: fixed;
  width: 200px;
  height: 200px;
  background-image: url("lily1.png");
  background-size: contain;
  z-index: 999;
  display: none;
}


/* colours */
.color-green {
  background-color: #8ae612;
}

.color-purple {
  background-color: #6600ff;
}
.color-pink {
  background-color: #ff0088;
}
.color-yellowgreen {
  background-color: #c3ff00;
}
.color-pink1 {
  background-color: #ff3791
}

.color-purple1 {
  background-color: #66ff00;
}

.my-button {
  position:absolute;
  top:89vh;
  left:81vw;
}

#rect {
  background-image: url('tv9emoji.png');
  width: 15px;
  height: 10px;
  padding: 0;
  background-color: #ff0088;
  z-index: 1000;
}



#tv9emoji {
  width:40vw;
  position:absolute;
  top:30vh;
  left: 60vw;
}

