body{

background-color:#193718; 

}


#topbardiv {
    position: flex;
    width:100vw;
    height:10vh;
    
}

#topbar{
    width: 100vw;
}

.introducingdiv{
    position: absolute;
   top:30vh;
    width: 10vw;
}

#introducing {
   display:inline-block;
    width: 50vw;

}

#introducing1 {
    display: inline-block;
    width: 30vw;
}

#illustration {
    position:absolute;
    top: 20vh;
    left: 50vw;
    width:46vw;
}


.placeholder-box {
    position:absolute;
    top: 30vh;
}

  

  


